.errors{
    color:red;
}

.close-button{
    position: absolute;
    right: 26px;
    top: 28px;
}

.customer-add-btn{
   
        position: fixed;
        bottom: 20px; 
        right: 20px; 
        z-index: 1000;  
}

.input-style{
width: 100%;
padding: 5px;
border: 1px solid #c0bfbf;
border-radius: 8px;
}
.order-input-style{
width: 100%;
padding: 5px;
border: 1px solid #c0bfbf;
border-radius: 8px;
}

.order-add-btn{
    position: fixed;
    right: 10px;
    bottom: 410px; 
    z-index: 1000;  
}


.fab button{
    position: fixed;
    bottom: 100px;
    right: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
   background: #5460ff;
   font-size: 25px;
  border: none;
 z-index: 3;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 }

.fab button:hover {
    cursor: pointer
   }

.box{
    position: fixed;
    bottom: 150px;
    right: 26px;
    height: 0px;
    transition-delay: 0.3s;
    width: 160px;
    transition: 0.5s cubic-bezier(0.445, 0.05,0.55,0.95);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:end;
 }

 .floatbtn{
    overflow: hidden;
    border-radius: 50%;
    transition: 0.4s ease-in;
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
 }


 .item4{
    transition-delay: 0.4s;
    padding: 5px;
    background:#b3b1b1;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
 }
 .fab button:hover{
    transform: rotate(230deg);
    transition: all 0.1s;
 }
 
 .floatbtn:hover{
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 0.5s;
 }
 
 .box-active{
    height: 60px;
 }

 .fab button:active{
    transform: rotate(180deg);
 }
 .add-customer-span {
    opacity: 0;
    transition: opacity 0.3s ease-in;
 }

 .add-customer-span.show {
    opacity: 1;
    border: 1px solid #3E424e;
    background: #3E424e;
    padding: 4px 3px;
    color:#fff;
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 5px;
  }


 
 .modal-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
 }

 .modal-input input{
    margin-top: 5px;
    border-radius: 8px;
    padding: 5px;
    border:1px solid #c0bfbf;
 }

 .notification-upper{
   display: flex;
   justify-content: space-between;
 }
 
 .notification-upper h5{
   color: blue
 }
 .notification-container{
   background: #fff;
   padding: 20px;
   border-radius: 10px;

 }
 
 .notification-upper img{
   width: 40px;
   height: 40px;
   border: 1px solid fff;
   border-radius: 50%;
   background: #fff;
   padding: 10px;
   align-items: center;
 }


 .notification-details{
 margin-top: 20px;
 }

 .panel{
   width: 150px;
   border: 1px solid #fff;
   background: #f1f1f1;
   padding: 5px;
   border-radius: 15px
 }

 .date-container{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-top: 15px;
   

 }

 .date {
   margin-right: 40px;
   border: 1px solid #fff;
   background: #f1f1f1;
   border-radius: 10px;
   padding: 5px
 }

 .calendar-icon {
   display: inline-flex;
   align-items: center;
   font-size: 25px;
   color: #333;
 
 }

 .main-details{
   display: flex;
   justify-content: space-between;
   border: 1px solid #fff;
   box-shadow:  0px 2px 8px  rgba(248, 248, 248, 0.2);
   border-radius: 10px;
   background: #f1f1f1;
   align-items: center;
   padding: 8px;
   margin-top: 15px;
   overflow: auto
 }

 .main-details img{
   width: 40px;
   height: 40px;
   border: 1px solid fff;
   border-radius: 50%;
   background: #fff;
   padding: 10px;
   align-items: center;
 }

.img-p{
   margin-left: 40px;
}

.img-p p{
   margin-top: 10px;
   margin-left: 15px
}


 





